<div class="main-container">
    <div class="content">
        <h1>PRÓXIMO SERVICIO</h1>

    <!-- Sección Árbol de Clientes -->
    <div class="content-tree">
      <div class="tree">
        <ng-container >
          <details>
            <summary>📂 Clientes con Servicios Regulares</summary>
            <ng-container *ngFor="let cliente of ClientesRegulares; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>

        <ng-container >
          <details>
            <summary>📂 Clientes con Servicios No-Regulares </summary>
            <ng-container *ngFor="let cliente of ClientesNoRegulares; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>

        <ng-container >
          <details>
            <summary>📂 Clientes con Servicios Antiguos-Recientes</summary>
            <ng-container *ngFor="let cliente of ClientesAntiguosRecientes; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>

        <ng-container >
          <details>
            <summary>📂 Clientes con Servicios Antiguos</summary>
            <ng-container *ngFor="let cliente of ClientesAntiguos; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>

        <ng-container >
          <details>
            <summary>📂 Clientes sin servicios</summary>
            <ng-container *ngFor="let cliente of ClientesSinServicio; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>

        <ng-container >
          <details>
            <summary>📂 No Es Cliente</summary>
            <ng-container *ngFor="let cliente of NoEsCliente; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ cliente.nombre }}</summary>
                <ng-container *ngFor="let local of cliente.locales; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(local.local)"
                    [class.selected]="plantaSeleccionada === local.local">
                    🏢 {{ local.local }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>
      </div>
    </div>

    <h5>📩 Notificaciones de Próximo Servicio</h5>


    <!-- Sección de Filtros y Búsqueda -->
    <div class="search-container">
      <div class="form-group">
        <label for="fechaFiltro">Fecha (Año y Mes):</label>
        <input
          type="month"
          id="fechaFiltro"
          class="form-control custom-select"
          [(ngModel)]="fechaFiltro"
        />
        <button class="btn btn-primary" type="button" (click)="filtrarEquipos()">
          Filtrar
        </button>
      </div>
    </div>



     <!-- Sección Tabla de Equipos -->
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Local</th>
              <th>Referencia</th>
              <th>Serie</th>
              <th>Estado</th>
              <th>Estado Mantenimiento</th>
              <th>Fecha Notificacion</th>
            </tr>
          </thead>
          <tbody *ngFor="let planta of plantasData?.plantas; trackBy: trackByPlanta">
            <ng-container *ngIf="planta.nombre === plantaSeleccionada">
              <!-- Se recorre cada equipo dentro de la planta -->
              <tr *ngFor="let equipo of equiposFiltrados; trackBy: trackByEquipo">
                <td>{{ equipo.cliente }}</td>
                <td>{{ planta.nombre }}</td>
                <td>{{ equipo.referencia }}</td>
                <td>{{ equipo.serie }}</td>
                <td>{{ equipo.estado }}</td>
                <td>{{ equipo.estado_mantenimiento }}</td>
                <td>{{ equipo.fecha_notificacion }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
</div>
