<div class="main-container">
    <div class="content">
        <h1>PRÓXIMO SERVICIO</h1>

     <!-- Sección Árbol de Clientes -->
    <div class="content-tree">
      <div class="tree">
        <ng-container *ngFor="let cliente of clientesData; trackBy: trackByCliente">
          <details>
            <summary>📂 {{ cliente.nombre }}</summary>
            <ng-container *ngFor="let sub of cliente.subclientes; trackBy: trackBySubcliente">
              <details>
                <summary>📂 {{ sub.nombre }}</summary>
                <ng-container *ngFor="let subcliente of sub.subclientes; trackBy: trackByPlanta">
                  <div 
                    class="planta-item" 
                    (click)="filtrarPorPlanta(subcliente.nombre)"
                    [class.selected]="plantaSeleccionada === subcliente.nombre">
                    🏢 {{ subcliente.nombre }}
                  </div>
                </ng-container>
              </details>
            </ng-container>
          </details>
        </ng-container>
      </div>
    </div>

    <h5>📩 Notificaciones de Próximo Servicio</h5>


    <!-- Sección de Filtros y Búsqueda -->
    <div class="search-container">
      <div class="form-group">
        <label for="fechaFiltro">Fecha (Año y Mes):</label>
        <input
          type="month"
          id="fechaFiltro"
          class="form-control custom-select"
          [(ngModel)]="fechaFiltro"
        />
        <button class="btn btn-primary" type="button" (click)="filtrarEquipos()">
          Filtrar
        </button>
      </div>
    </div>



        <!-- Sección Tabla de Equipos -->
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Local</th>
            <th>Referencia</th>
            <th>Serie</th>
            <th>Estado</th>
            <th>Estado Mantenimiento</th>
            <th>Fecha Notificacion</th>
            <th>Ver Detalles</th>
          </tr>
        </thead>
          <tbody *ngFor="let planta of plantasData?.plantas; trackBy: trackByPlanta">
            <ng-container *ngIf="planta.nombre === plantaSeleccionada">
              <!-- Recorremos cada equipo dentro de la planta -->
              <tr *ngFor="let equipo of equiposFiltrados; trackBy: trackByEquipo">
                <td>{{ equipo.cliente }}</td>
                <td>{{ planta.nombre }}</td>
                <td>{{ equipo.referencia }}</td>
                <td>{{ equipo.serie }}</td>
                <td>{{ equipo.estado }}</td>
                <td>{{ equipo.estado_mantenimiento }}</td>
                <td>{{ equipo.fecha_notificacion }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
</div>
