<app-navbar></app-navbar>
<div class="menu-container">
    <h2>MENÚ</h2>
    <button routerLink="/frecuenciaServicios" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
        📅 Notificacion de Servicios
    </button>
    <button routerLink="/proximoServicio" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
        🔜 Próximo Servicio
    </button>
    <button routerLink="/overhaul" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }">
        📜 Overhaul
    </button>
</div>
<router-outlet></router-outlet>
